<%= form_for @event do |f| %>

	<% if @event.errors.any? %>
		<div class='error'>
			<% @event.errors.full_messages.each do |msg| %>
				<%= msg %>
			<% end %>
		</div>
	<% end %>

	<div class='field'>
		<%= f.label :name, 'Event name' %>
		<%= f.text_field :name %>
	</div>
	
	<div class='field'>
		<%= f.label :starting_date, 'Event date' %>
		<%= f.text_field :starting_date %>
	</div>
	
	<div>
		<%= f.submit %>
	</div>
<% end %>